<%= render partial: 'common/header' %>

<div class="map-canvas" id="map"></div>

<div class="user-position-marker">
  <a href="#"></a>
  <div class="i-am-here">
    <span>Hey! I'm Here!</span>
  </div>
</div>

<div class="event-demo" style="top: <%= rand(10..45) %>%; left: <%= rand(10..45) %>%;"></div>
<div class="dm-demo" style="top: <%= rand(55..90) %>%; left: <%= rand(55..90) %>%;"></div>


<%= render partial: 'common/footer' %>

<%= content_for :handwrite_js do %>
  <script>
    $(document).ready(JoinFuns.initialMap());
    $(document).on('page:change', JoinFuns.initialMap());
  </script>
<% end %>
